/WebApp/KaraokeSolution2/DataAccess/bin/
/WebApp/KaraokeSolution2/DataAccess/obj/

/WebApp/KaraokeSolution2/KaraokeWebApp/obj/
/WebApp/KaraokeSolution2/KaraokeWebApp/bin/

/WebApp/KaraokeSolution2/.vs/