/WebApp/KaraokeSolution2/DataAccess/bin/
/WebApp/KaraokeSolution2/DataAccess/obj/

/WebApp/KaraokeSolution2/KaraokeWebApp/obj/
/WebApp/KaraokeSolution2/KaraokeWebApp/bin/

/WebApp/KaraokeSolution2/.vs/

/WebApp2/

/WebApp3/KaraokeWebApp3/KaraokeWebApp3/bin/
/WebApp3/KaraokeWebApp3/KaraokeWebApp3/obj/

/WebApp3/KaraokeWebApp3/KaraokeWebApp/obj/
/WebApp3/KaraokeWebApp3/KaraokeWebApp/bin/

/WebApp3/KaraokeWebApp3/.vs/