/WebApp3/KaraokeWebApp3/KaraokeWebApp3/bin/
/WebApp3/KaraokeWebApp3/KaraokeWebApp3/obj/

/WebApp3/KaraokeWebApp3/.vs/

/lombard/LombardSolution/LombardWebApp/bin/
/lombard/LombardSolution/LombardWebApp/obj/

/lombard/LombardSolution/.vs/