@{
    Layout = "_Layout2";
}


<section class="py-5 bg-black">
    <div class="container">


        <div class="card">


            <div class="card-body">
                <div class="card-title">
                    ВСЕ САМЫЕ ПОПУЛЯРНЫЕ КОРЕЙСКИЕ ХИТЫ В ОДНОМ ВЕЧЕРЕ!<br/>
                    <small>
                        Почувствуй себя K-Pop звездой!
                    </small>
                </div>

                <p>
                    Устали искать, где спеть свои любимые корейские хиты? Мы собрали ВСЕ, что сводит с ума планету, в одну невероятную караоке-вечеринку! 🌟
                </p>
                <p>
                    Это ваш шанс вырваться из рутины и погрузиться в захватывающий мир K-Pop! Спойте легендарные треки от королей жанра BTS и неудержимых BLACKPINK, зарядитесь энергией от NewJeans и IVE, вспомните культовые хиты PSY и EXO – все самое громкое, модное и залипательное ждет вас!
                </p>
                <div class="text-center">
                    <img src="/img/k-pop.jpg" width="500" />
                </div>

                <strong> Почему ЭТОТ вечер?</strong>

                <br />
                МЕГА-ПОДБОРКА: Мы включили ВСЕ топовые хиты последних лет – от безумно популярных до ностальгически любимых. Ни один хит не останется без внимания! (Список ниже!).
                <br />
                АКТУАЛЬНО & ТРЕНДОВО: Только самые свежие и обсуждаемые треки, которые сейчас в трендах ТикТока и мировых чартах!
                <br />
                ЭНЕРГИЯ & ДРАЙВ: Ощутите мощный заряд корейской поп-культуры – идеальная атмосфера для дружеских посиделок и незабываемых эмоций!
                <br />
                ПОЧУВСТВУЙ СЕБЯ ЗВЕЗДОЙ: Наша крутая караоке-система и светомузыка помогут вам засиять на сцене!
                <br />
                ПОЙ НА КОРЕЙСКОМ (или просто кайфуй!): Не знаете язык? Не беда! Подпевайте на русском, английском или просто наслаждайтесь битом – главное ваше удовольствие!
                <br />
                Это не просто караоке – это ваш личный K-Pop концерт!
                <br />
                Приходите с друзьями, заряжайтесь позитивом и пойте ВСЕ любимые корейские хиты в одном месте!
                <br />
                Когда: Каждую среду и субботу<br />
                Где: Залы «Фэнтези» и «Космос»<br />
                Бронирование столиков онлайн<br />


                <br />
                <br />

                ЗАЖГИТЕ ПОД ЭТО! ВАША ПОДБОРКА ХИТОВ:<br />
                <ol>
                    <li>BTS: Dynamite, Butter, Permission to Dance, Boy With Luv (feat. Halsey), Fake Love</li>
                    <li>BLACKPINK: How You Like That, Pink Venom, Kill This Love, DDU-DU DDU-DU, Shut Down</li>
                    <li>NewJeans: Hype Boy, OMG, Attention, Super Shy, ETA</li>
                    <li>IVE: LOVE DIVE, After LIKE, I AM, Kitsch</li>
                    <li>PSY: Gangnam Style (обязательно!), That That (feat. Suga)</li>
                    <li>Stray Kids: God's Menu, MANIAC, S-Class</li>
                    <li>TWICE: Feel Special, The Feels, Talk That Talk</li>
                </ol>


                SOLO ХИТЫ:
                <ol>

                    <li>
                        IU - Celebrity, Good Day
                    </li>

                    <li>
                        Jungkook (BTS) - Seven (feat. Latto), Standing Next to You
                    </li>

                    <li>
                        Lisa (BLACKPINK) - MONEY, LALISA
                    </li>

                    <li>
                        Jennie (BLACKPINK) - SOLO
                    </li>

                    <li>
                        PSY - That That (feat. Suga) (уже в списке, но можно продублировать в сольных)
                    </li>

                    <li>
                        EXO - Love Shot, Ko Ko Bop
                    </li>

                    <li>
                        BIGBANG - BANG BANG BANG, FANTASTIC BABY (для ностальгии!)
                    </li>

                    <li>iKON - LOVE SCENARIO</li>
                </ol>

            </div>

        </div>
    </div>
</section>