@{
    Layout = "_Layout2";
}


<section class="py-5 bg-black">
    <div class="container">


        <div class="card">


            <div class="card-body">
                <div class="card-title">
                    📻 РЕТРО-ВЕЧЕР 90-х: ВРЕМЯ ВСПОМНИТЬ МОЛОДОСТЬ! 📻<br />
                    <small>
                        Там, где пейджеры, дискотека и неповторимый драйв!
                    </small>
                </div>

                <p>
                    Скучаете по временам, когда музыка была искренней, а вечеринки – безумными? Заводите моторы своих "девяностых" сердец! Мы запускаем машину времени и возвращаем вас в самую безбашенную эпоху – на наш грандиозный Ретро-вечер 90-х в караоке!
                </p>
                <p>
                    Это не просто пение – это путешествие! Окунитесь в атмосферу первых дискотек, культовых клипов на MTV и песен, которые знал наизусть весь двор. Спойте хиты, под которые влюблялись, дружили и просто отрывались по полной!
                </p>
                <div class="text-center">
                    <img src="/img/90h.jpg" width="500" />
                </div>



                <strong> Почему ЭТОТ вечер?</strong>

                <br />
                АНТОЛОГИЯ ЭПОХИ: Мы собрали ВСЕ главные хиты русского и зарубежного эфира 90-х – от попсы и диско до рока и евродэнса! (Смотрите мега-список ниже!).
                <br />
                НОСТАЛЬГИЯ ПО ПОЛНОЙ ПРОГРАММЕ: Узнаваемые риффы, незабываемые припевы – каждая песня вызовет волну теплых воспоминаний и улыбок.
                <br />
                БЕЗУМНЫЙ ДРАЙВ: Энергетика 90-х неповторима! Готовьтесь кричать хором, пуститься в пляс и оторваться так, как это умели только в девяностые!
                <br />
                ДЛЯ ВСЕХ, КТО ПОМНИТ: Неважно, были вы школьником или студентом – если ваша юность пришлась на это легендарное десятилетие, вам СЮДА!
                <br />
                ПРОСТО И ВЕСЕЛО: Никакого пафоса, только искренние эмоции, дружеская атмосфера и море позитива!
                <br />

                Это ваш шанс снова почувствовать вкус "лимонада" 90-х!


                <br />
                <p>
                    Зовите друзей детства, одноклассников или просто единомышленников! Доставайте джинсы-клёш (или просто хорошее настроение) и приезжайте окунуться в море хитов!
                </p>

                <br />
                Когда: Каждую четверг и воскресенье<br />
                Где: Залы «Питер» и «Эйфория»<br />
                Бронирование столиков онлайн<br />


                <br />
                <br />

                <h6>ЗОЛОТАЯ КОЛЛЕКЦИЯ 90-Х – СПОЁМ ВСЕ ХИТЫ!</h6>
                <br />
                <strong>
                Русская Попса & Диско:
                </strong>

                <ol>
                    <li>
                        Иванушки International: Тучи, Колечко, Золотые облака

                    </li>
                    <li>
                        На-На: Фея, Упади в мои объятия, Ху-ху-ху
                    </li>
                    <li>
                        Руки Вверх!: Крошка моя, Ай-яй-яй, Она не твоя
                    </li>
                    <li>
                        Любэ: Давай за..., Конь, Позови меня тихо по имени
                    </li>
                    <li>
                        Алсу: Зимний сон
                    </li>
                    <li>
                        Татьяна Буланова: Не плачь, Ясный мой свет
                    </li>
                    <li>
                        Валерий Меладзе: Сэра, Как ты красива сегодня
                    </li>
                </ol>


                <strong>Зарубежные Мега-Хиты:</strong><br />


                <ol>

                    <li>
                        Haddaway: What Is Love


                    </li>

                    <li>
                        La Bouche: Be My Lover


                    </li>

                    <li>
                        Eiffel 65: Blue (Da Ba Dee)
                    </li>

                    <li>
                        Ace of Base: All That She Wants, The Sign
                    </li>

                    <li>
                        Dr. Alban: It's My Life, Sing Hallelujah!
                    </li>

                    <li>
                        Aqua: Barbie Girl, Doctor Jones
                    </li>

                    <li>
                        Backstreet Boys: Everybody (Backstreet's Back), I Want It That Way
                    </li>

                    <li>
                        Spice Girls: Wannabe, Spice Up Your Life
                    </li>
                </ol>

            </div>

        </div>
    </div>
</section>