@{
    Layout = "_Layout2";
}


<section class="py-5 bg-black">
    <div class="container">


        <div class="card">


            <div class="card-body">
                <div class="card-title">
                    <h3> Правила посещения </h3>
                </div>

                <p>
                    Нам всегда важен комфорт и качественный отдых наших гостей, но в нашем заведении действуют несколько правил<br/>
                    — Гостям запрещено самостоятельно регулировать любое оборудование, настраивать звуковую, компьютерную и телевизионную аппаратуру. Для устранения неполадок или настройки оборудования вы всегда можете обратиться к нашему персоналу.<br />
                    — Беспокоить других посетителей атмосферного караоке пространства, нарушать чистоту и порядок;<br />
                    — Распространять, продавать и употреблять на территории и в Залах (комнатах) атмосферного караоке пространства, наркотических веществ;<br />
                    — Входить в служебные и прочие технические помещения, предусмотренные исключительно для сотрудников атмосферного караоке пространства<br />
                </p>

            </div>

        </div>
    </div>
</section>