@{
	Layout = "_Layout2";
}


<div class="row" style="padding-bottom:20px;">
	

	<div class="card">
		<div class="card-body">
			<h3 class="card-title">Пакет День Рождения «SUPER STAR»</h3>
			<p>
				+ до 25 гостей гостей<br/>
				+ 63 550 ₽
			</p>
			<p>
				<ul>
					<li><i style="color:green" class="bi bi-check-square"></i> В вашем распоряжении на 4 часа один из VIP-залов «LOFT HALL», "Гэтсби" или "Венеция"</li>
					<li><i style="color:green" class="bi bi-check-square"></i> Объемный профессиональный звук Dolby Surround</li>
					<li><i style="color:green" class="bi bi-check-square"></i> Экран диагональю 8 метров с качеством картинки FullHD</li>
				</ul>
			</p>
			<p>
				<ul>
					<li>
						Просмотр любого фильма на выбор
					</li>
					<li>
						Приставки PS4 или XBOX360*
					</li>
					<li>
						Танцы под диск JUST DANCE
					</li>
					<li>Система микрофонов (караоке)</li>

					<li>
						Зал украшен гелиевыми шарами
					</li>

					<li>
						Поздравительная надпись на стене "С Днем Рождения"
					</li>

					<li>
						Отдельно можно заказать шары-цифры по возрасту именинника(цы)
					</li>
				</ul>
			</p>

			<p>
				<i style="color:orange; font-size:2em" class="bi bi-gift-fill"></i>
				Ящик прохладного шампанского (6 бутылок) ИЛИ Ящик прохладного пива (20 бутылок)
			</p>
		</div>

	</div>
	<!---->

	<div class="card" style="margin-top:40px;">
		<div class="card-body">
			<h3 class="card-title">Пакет День Рождения «Для подружек»</h3>
			<p>
				+ до 8 гостей гостей<br />
				+ 21 850 ₽
			</p>
			<p>
				<ul>
					<li><i style="color:green" class="bi bi-check-square"></i> В вашем распоряжении на 3 часа любой большой зал на Ваш выбор</li>
					<li><i style="color:green" class="bi bi-check-square"></i> Объемный профессиональный звук Dolby Surround</li>
					<li><i style="color:green" class="bi bi-check-square"></i> Экран диагональю 8 метров с качеством картинки FullHD</li>
				</ul>
			</p>
			<p>
				<ul>
					<li>
						Просмотр любого фильма на выбор
					</li>
					<li>
						Приставки PS4 или XBOX360*
					</li>
					<li>
						Танцы под диск JUST DANCE
					</li>
					<li>Система микрофонов (караоке)</li>

					<li>
						Зал украшен гелиевыми шарами
					</li>

					<li>
						Поздравительная надпись на стене "С Днем Рождения"
					</li>

					<li>
						Отдельно можно заказать шары-цифры по возрасту именинника(цы)
					</li>
				</ul>
			</p>
			<p>
				<i style="color:orange; font-size:2em" class="bi bi-gift-fill"></i>
				2 бутылочки прохладного шампанского Абрау Дюрсо
			</p>
		</div>

	</div>


	<!---->

	<div class="card" style="margin-top:40px;">
		<div class="card-body">
			<h3 class="card-title">Пакет Караоке-вечеринка!</h3>
			<p>
				+ до 10 гостей гостей<br />
				+ 18 900 ₽ ₽
			</p>
			<p>
				<ul>
					<li><i style="color:green" class="bi bi-check-square"></i> В вашем распоряжении на 3 часа любой большой зал на Ваш выбор</li>
					<li><i style="color:green" class="bi bi-check-square"></i> Объемный профессиональный звук Dolby Surround</li>
					<li><i style="color:green" class="bi bi-check-square"></i> Экран диагональю 8 метров с качеством картинки FullHD</li>
				</ul>
			</p>
			<p>
				<ul>
					<li>
						Закрытый зал с системой микрофонов для вашей компании
					</li>
					<li>
						Диск симулятор "Just dance"*
					</li>
					<li>Система микрофонов (караоке)</li>

					<li>
						Настольные игры
					</li>

					<li>
						1 фруктовая карусель
					</li>

					<li>
						3 больших вкусных пиццы ---или--- 1 кг суши
					</li>
				</ul>
			</p>

			<p>
				<i style="color:orange; font-size:2em" class="bi bi-gift-fill"></i>
				3 бутылочки прохладного шампанского
			</p>
		</div>

	</div>


</div>




<br/>
<br/>
<br/>
<br />

