@{
	Layout = "_Layout2";
}


<div class="row" style="padding-bottom:20px;">
	



	<div  style="background-color:lightgrey">
		<br/>
		<div class="row">
			<br/>
			<h4>Зал «Фэнтези»</h4>
		</div>

		<div class="row">
			<div class=" col-3">
			<div class="card" style="width: 18rem;">
			<div class="card-body">
					<img src="/img/spaces/F-10.jpg" class="card-img-top" alt="...">
			</div>
			</div>
			</div>
			<div class=" col-3">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<img src="/img/spaces/F-14.jpg" class="card-img-top" alt="...">
				</div>
			</div>
			</div>

			<div class=" col-3">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<img src="/img/spaces/F-28.jpg" class="card-img-top" alt="...">
				</div>
			</div>
			</div>

			<div class=" col-3">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<img src="/img/spaces/F-32.jpg" class="card-img-top" alt="...">
				</div>
			</div>
			</div>
		</div>


		<div class="row">
			<p>
				Фэнтези — Зал рассчитан на компанию от 3 до 5 человек.
				<br />
				Этот зал Вас встретит цветущей сакурой. Зал полный очарования восточной культуры, аниме и цветов. Очень уютный и стильный зал для небольшой компании.
				<br />
				По площади зал составляет 9 метров квадратных.
				<br />
				<br />
			</p>
		</div>


		<div class="row">
		<br />
			<h4>Зал «Эклектика»</h4>
		</div>

		<div class="row">
			<div class=" col-3">
			<div class="card col-3" style="width: 18rem;">
				<div class="card-body">
					<img src="/img/spaces/E-24.jpg" class="card-img-top" alt="...">
				</div>
			</div>
			</div>

			<div class=" col-3">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<img src="/img/spaces/E-30.jpg" class="card-img-top" alt="...">
				</div>
			</div>
			</div>

			<div class=" col-3">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<img src="/img/spaces/E-34.jpg" class="card-img-top" alt="...">
				</div>
			</div>
			</div>

			<div class=" col-3">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<img src="/img/spaces/E-7.jpg" class="card-img-top" alt="...">
				</div>
			</div>
			</div>
		</div>

		<div class="row">
		<p>
			ЭКЛЕКТИКА — Зал рассчитан на компании от 5 до 12 человек<br/>
			Колоритный зал, наполненный смыслом и деталями — дизайн ломает любые рамки и стереотипы, он создан для творческих людей, которые любят жизнь, имеют широкий кругозор и не боятся выглядеть неординарно. А все потому, что эклектика позволяет реализовать самые смелые идеи для отдыха без ограничений!<br/>

			По площади зал составляет 22 метра квадратных.

			<br />
			<br />
		</p>

		</div>
		<!---->

		<div class="row">
			<br />
			<h4>Зал «Питер»</h4>
		</div>

		<div class="row">
			<div class=" col-3">
				<div class="card col-3" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/SP-25.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>

			<div class=" col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/SP-32.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>

			<div class=" col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/SP-4.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>

			<div class=" col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/SP-56.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<p>
				Питер — Зал рассчитан на компанию от 5 до 10 человек.<br />
				Выбрав этот зал — вы сможете погрузиться  в атмосферу «вечного города» . Развод мостов, Атланты и сфинксы подчеркивают атмосферу культурной столицы России и дадут Вам повод — «в Питере и петь и пить»)))
				<br/>

				По площади зал составляет 16 метров квадратных.

				<br />
				<br />
			</p>

		</div>

		<!---->

		<div class="row">
			<br />
			<h4>Зал «Эйфория»</h4>
		</div>

		<div class="row">
			<div class=" col-3">
				<div class="card col-3" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/EF-19.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>

			<div class=" col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/EF-34-1.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>

			<div class=" col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/EF-57.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>

			<div class=" col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/EF-63.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<p>
				Эйфория — Зал рассчитан на компанию от 5 до 10 человек.<br />
				Мятная свежесть, декор экзотической зелени — все это поможет вам отдохнуть и набраться энергией. Зал выполнен в очень приятных и расслабляющих цветах. Идеально подойдет для приятного вечера в теплой компании.
				<br />

				По площади зал составляет 16 метров квадратных.

				<br />
				<br />
			</p>

		</div>

		<!---->

		<div class="row">
			<br />
			<h4>Зал «Космос»</h4>
		</div>

		<div class="row">
			<div class=" col-3">
				<div class="card col-3" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/K-11.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>

			<div class=" col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/K-12.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>

			<div class=" col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/K-21.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>

			<div class=" col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="/img/spaces/K-24.jpg" class="card-img-top" alt="...">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<p>
				Космос — Зал рассчитан на компанию от 4 до 7 человек.
				<br />
				Этот зал стилизован под капсулу космического корабля.
				<br/>
				Отправиться покорять вселенную или просто почилить с друзьями. В этом зале возможно все.
				<br />
				Декор в зале в стиле технологий будущего. Этот зал не оставляет равнодушным.				
				<br />
				По площади зал составляет 11 метров квадратных.

				<br />
				<br />
			</p>

		</div>

    </div>
</div>




<br/>
<br/>
<br/>
<br />

