
@*
    @page
@model KaraokeWebApp3.Views.Account.LoginModel
@{
}
*@
<!-- Views/Account/Login.cshtml -->
<form method="post">
    <input type="text" name="username" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Войти</button>
</form>
