@*
    @page
@model KaraokeWebApp3.Views.Account.RegisterModel
@{
}

*@

<!-- Views/Account/Register.cshtml -->
<form method="post">
    <input type="text" name="username" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Зарегистрироваться</button>
</form>