@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout2";
}


	<div class="card">
		<div class="card-body">
			<div class="card-title text-center">
				<h4 style="color:gold">Ломбард: о программе</h4>
				</div>

				<p style="text-align:center">
				ПО "Ломбард"  версия 1.0.1_01
				<br />
				<br />
				Предназначено для учета заявок ломбарда
				<br />
				<br />
				Спроектировал и разработал:
				<br />
					Шлапак Никита Павлович
				<br />
				<br />
				<small>
					Демо версия для дипломной защиты.<br/>
					Только для внутреннего использования
				</small>

				</p>
		</div>

	</div>

