@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout2";
}


<div class="card">
	<div class="card-body">
		<div class="card-title text-center">
			<h4 style="">
				Заложить золото
			</h4>
			Хотите оставить под залог ювелирные изделия?

		</div>

		<p style="text-align:center">
			У нас вы можете получить деньги под залог ювелирных изделий 585, 583 и других проб.
		</p>
		<h5> Какие ювелирные изделия можно оставить под залог?</h5>
		<ul>
			<li>Изделия с брилиантами</li>
			<li>Кольца</li>
			<li>Браслеты</li>
			<li>Серьги</li>
			<li>Подвески</li>
			<li>Цепи</li>
		</ul>

	</div>

</div>