@{
    Layout = "_Layout2";
}
@model HomeForManagerModel

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Личный кабинет менеджера</h4>

        <div class="row">
            <br />
            <h5>Текущие заявки</h5>
            <br/>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>Имя</td>
                        <td>Телефон</td>
                        <td>Создана</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        @foreach(var item in Model.Leads)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Username</td>
                                <td>@item.Phone</td>
                                <td>@item.Created.ToString("HH:mm dd/MM/yyyy")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


