@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout2";
}


<div class="card">
	<div class="card-body">
		<div class="card-title text-center">
			<h4 style="">
				Заложить компьютер
			</h4>
			Хотите оставить под залог компьютер?

		</div>

		<p style="text-align:center">
			Чтобы заложить компьютер в ломбард, достаточно связаться с нашим менеджером.<br/>
			С любой кредитной историей и в любое время — работаем без выходных и перерывов.<br />
			Деньги на карту или наличными сразу!<br />
			Гарантируем полную сохранность имущества.<br />
		</p>

		<h5>
			Какие компьютеры можно оставить под залог?
		</h5>

		<ul>
			<li>Системные блоки</li>
			<li>Неттопы</li>
			<li>Моноблоки</li>
			<li>Ноутбуки</li>
		</ul>

	</div>

</div>