@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout2";
}


<div class="card">
	<div class="card-body">
		<div class="card-title text-center">
			<h4 style="">
				Заложить инструменты

			</h4>
			Наш ломбард предлагает деньги под залог строительного и электроинструмента

		</div>

		<p style="text-align:center">
			С любой кредитной историей и в любое время — работаем без выходных и перерывов.<br/>
			Деньги на карту или наличными сразу!<br/>
			Гарантируем полную сохранность имущества.<br/>
		</p>

		<h5>
			Какие строительные инструменты можно оставить под залог?
		</h5>

		<ul>
			<li>Перфораторы</li>
			<li>Болгарки/УШМ</li>
			<li>Фрезеры</li>
			<li>Пневмоинструменты</li>
		</ul>
	</div>

</div>